<h2>Edit page</h2>

<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.file_field :book_img %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :description, as: :text %>
  <%= f.button :submit %>
<% end %>
